@charset "UTF-8";

.monaco-editor .margin{
    background-color: rgba(49, 51, 53, 0) !important;
}
.monaco-editor .monaco-editor-background{
    background-color: rgba(43, 45, 48, 0) !important;
}
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input{
    background-color: rgba(43, 45, 48, 0) !important;
}
.monaco-editor .margin-view-overlays .line-numbers{
    font-size: 12px !important;
}
.monaco-editor .margin-view-overlays .codicon{
    width: auto !important;
    left: auto !important;
    right: 0 !important;
}
.monaco-editor .margin-view-overlays .codicon:before{
    font-size: 12px !important;
}
.monaco-editor .decorationsOverviewRuler{
    width: 5px !important;
}
.monaco-editor .scrollbar.vertical{
    width: 5px !important;
}
.monaco-editor .scrollbar.horizontal{
    height: 5px !important;
}
.monaco-editor .scrollbar.horizontal .slider{
    height: 5px !important;
}
.monaco-editor .margin{
    //width: 64px !important;
}
.monaco-editor .margin-view-overlays{
    //width: 64px !important;
    background-color: rgba(0, 0, 0, .3) !important;
}
.monaco-editor .margin-view-overlays .line-numbers{
    left: 5px !important;
}
.monaco-editor .monaco-scrollable-element.editor-scrollable{
    //width: calc(100% - 64px) !important;
    //left: 64px !important;
}
.monaco-editor .margin-view-overlays .current-line{
    //width: 64px !important;
}

@font-face{
    font-family:Consolas;
    src:url("../fonts/JetBrainsMono-Regular.woff2") format("truetype");
    font-weight: 400;
    font-style:normal
}